@import "tailwindcss";

@custom-variant hocus (&:hover, &:focus);
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-text-primary-dark: #b4b4b4;
  --color-backdrop-main-dark: #171717;
  --color-backdrop-secondary-dark: #1f1f1f;
  --color-line-dark: #2e2e2e;
  --color-secondary-background: #181818;
}

body {
  @apply bg-[#171717] text-[#b4b4b4];
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fafafa;
  @apply bg-[#242424] caret-[#fafafa];
}

* {
  box-sizing: border-box;
}
