@import "tailwindcss";

@custom-variant hocus (&:hover, &:focus);

@theme {
  --color-primary: #fafafa;
  --color-secondary: #d1d1d1;
  --color-background: #111111;
  --color-secondary-background: #181818;
}

body {
  @apply bg-background text-secondary;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }
}
